<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.TeacherDao">

    <select id="finAllTeacher" parameterType="Teatcher">
        select id,
                is_show as isShow,
                orders,
                is_delete asDelete,
                name,
                role,
                title,
                signature,
                image,
                brief

        from bz_teacher
    </select>

</mapper>
