<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.UserDao">
    <sql id="userField">
        id
        ,name,
               age,
               bir,
               password,
               image,
               status,
               phone
    </sql>
    <!--分页查询-->
    <select id="findAllUser" resultType="User">
        select
        <include refid="userField"/>

        from user limit #{start},#{rows}
    </select>
    <!-- 返回用户的总数量 -->
    <select id="findUserTotal" resultType="long">
        select count(id)
        from user
    </select>
</mapper>
